<div class="row">
  <div class="col-12 col-card">
    <div class="card">
      <div class="card-header font-weight-bold bg-danger text-white">
        Nội dung câu hỏi
      </div>
      <div class="card-body">
        {{question.contentQuest}}
      </div>
      <div class="card-footer text-primary d-flex">
        <div class="emotion">
          {{like}}
          <a ng-click="addLike()">
            <span class="text-primary">
              <i class="fa fa-thumbs-o-up"></i>
            </span>
          </a>
        </div>
        <div class="emotion">
          {{dislike}}
          <a ng-click="unLike()">
            <span class="text-primary">
              <i class="fa fa-thumbs-o-down"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-12 col-card">
        <div class="card">
          <div class="card-header font-weight-bold bg-success text-white">
            Trả lời
          </div>
          <div class="card-body" ng-repeat="comment in comments">
            <div>
              {{comment.commentor}} : {{comment.contentComment}}
            </div>
            
            <div class="card-footer d-flex text-primary">
              <div class="emotion">
                0
                <a href="#">
                  <span class="text-primary">
                    <i class="fa fa-thumbs-o-up"></i>
                  </span>
                </a>
              </div>
              <div class="emotion">
                0
                <a href="#">
                  <span class="text-primary">
                    <i class="fa fa-thumbs-o-down"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-12 col-card" ng-show="isActivingSession()">
          <div class="card">
            <input type="text" class="card-body" placeholder="Type to comment" ng-model="cmt.content">
          </div>
          <button ng-click="onSubmit()">Comment</button>
        </div> 
        <div ng-hide="isActivingSession()"></div>    
      </div>
    </div>
  </div>
</div>