<link rel="stylesheet" type="text/css" href="../css/style.css">
<login-header></login-header>
				
<div class="container-fluid">
	<form>
		<h1>Register</h1>
		<div role="alert" ng-show="formError" class="alert alert-danger">{{ formError }}</div>
		<input placeholder="Username" type="text" required="" id="username" ng-model="user.username">
		<input placeholder="Password" type="password" required="" id="password" ng-model="user.password">
		<input placeholder="Confirm Password" type="password" required="" id="repassword" ng-model="user.cf_password">
		<button class="submit" ng-click="onSubmit()">Submit</button>
	</form>
</div> 