<div ng-controller="activatedSessionCtrl">
  <div class="row" ng-repeat="session in activatedSessionList">
    <div class="col-12 col-card">
      <div class="media border d-flex align-items-center p-2">
        <div class="border">
          <img src="../img/qa.png" class="img-responsive" />
        </div>
        <div class="media-body ml-2 d-flex flex-column justify-content-around">
          <span class="infor-1 redtab">{{session['name']}}</span>
          <span class="infor-2">Chủ tọa: {{session['teacher']}}</span>
          <a href="#" class="time-news linkNormal">Đã đóng: {{session['close_at']}} Số câu hỏi:
            {{session['questionNum']}}</a>
        </div>
      </div>
    </div>
  </div>
  <item-pagination></item-pagination>
</div>




