<nav class="navbar navbar-expand-lg navbar-dark  bg-violet" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#">Q & A SYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#/home">Trang chủ</a>
          </li>
          <li class="nav-item dropdown pointer">
            <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Quản lý</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item pointer">Câu hỏi của tôi</a>
            </div>
          </li>
          <li class="nav-item dropdown pointer">
            <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Tài khoản</a>

            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="width: auto" ng-controller="navCtrl">
              <a class="dropdown-item">
                <i class="fa fa-user fa-fw" ng-show="isLoggedIn"></i>
                <span>{{name}}</span>
                <br>
                <i class="fa fa-graduation-cap fa-fw"></i>
                <span>Thành viên</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item pointer" data-toggle="modal" data-target="#edit-user-infor">
                <i class="fa fa-edit fa-fw"></i>
                Cập nhật thông tin
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="logOut()" href="#/">
                <i class="fa fa-sign-out fa-fw"></i> Đăng xuất
              </a>
            </ul>
            <!-- /.dropdown-user -->
          </li>
        </ul>
      </div>
    </div>
  </nav>