<div class="row">
  <div class="col-12 col-card">
    <div class="card">
      <div class="card-header font-weight-bold bg-danger text-white">
        Nội dung câu hỏi
      </div>
      <div class="card-body">
        Nội dung câu hỏi ở đây
      </div>
      <div class="card-footer text-primary d-flex">
        <div class="emotion">
          {{like}}
          <a ng-click="addLike()">
            <span class="text-primary">
              <i class="fa fa-thumbs-o-up"></i>
            </span>
          </a>
        </div>
        <div class="emotion">
          {{dislike}}
          <a ng-click="unLike()">
            <span class="text-primary">
              <i class="fa fa-thumbs-o-down"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="card-body" ng-repeat="comment in comments">
        {{comment.contentComment}}
        abbbc
      </div>
    </div>
  </div>
</div>