<!DOCTYPE html>
<html>
<head>
	<title>QA System</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="header">
		<a href="#" id="logo"><img src="../img/uet.png">QA System</a>
		<a href="register.view.html" id="register">Register</a>
		<a href="login.view.html" id="login">Log in</a>
	</div>
	<center>
		Wellcome to QA System
	</center>
	<form>
  		<h1>Register</h1>
  		<input placeholder="Username" type="text" required="">
  		<input placeholder="Password" type="password" required="">
  		<input placeholder="Repassword" type="password" required="">
  		<button onclick="stop()">Register</button>
	</form>
	<script>
		let stop = () => {
			alert("Registing new account is not available at the moment! Please contact admin for more information! :)")
		}
	</script>
</body>
</html>