
    <div class="media border d-flex align-items-center p-2">
      <div>
        <img src="../img/qa.png" class="img-responsive" />
      </div>
      <div class="media-body ml-2 d-flex flex-column justify-content-around">
        <span class="infor-1 redtab">
          <i class="fa fa fa-lock">

          </i>
          Tên hội thảo
        </span>
        <br>
        <span class="infor-2">
          <i class="fa fa-sticky-note-o">

          </i>
          Mô tả: Hội thảo
        </span>
        <span class="infor-2">
          <i class="fa fa-edit">
          </i>
          Đăng bởi
        </span>
        <span class="time-news">
          <i class="fa fa-history">

          </i>
          Thời gian tạo
        </span>
      </div>
    </div>
